PORT=3000
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=libreria_db
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@db:5432/libreria_db
JWT_SECRET=cambiame_por_una_cadena_larga_y_aleatoria
FRONTEND_URL=http://localhost:5173
CHECKPOINT_DISABLE=1
PRISMA_HIDE_UPDATE_MESSAGE=1